<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>932809057564-5sl1l8vlic8frc35urndssk0t3ketq4l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.932809057564-5sl1l8vlic8frc35urndssk0t3ketq4l</string>
	<key>API_KEY</key>
	<string>AIzaSyA1TtBwjFCWB8sOvb1jYSRjKBA6aztJsOU</string>
	<key>GCM_SENDER_ID</key>
	<string>932809057564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vhenriquebm.TwiterClone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-ce009</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-ce009.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932809057564:ios:f743d11cf8c032153a06d9</string>
</dict>
</plist>